
func newFieldError(fieldID string, expectedType string, rawv interface{}) error {
	return fmt.Errorf(
		"unexpected type for field %s. Expected type %s, got %T (value %#v)",
		fieldID,
		expectedType,
		rawv,
		rawv,
	)
}

type ErrContainer []error

func (c *ErrContainer) AddError(err error) {
	*c = append(*c, err)
}
func (c *ErrContainer) String() string {
	stringErr := ""
	for _, err := range *c {
		stringErr += err.Error() + "; "
	}

	return stringErr
}

func NewErrorContainer() ErrContainer {
	return make([]error, 0)
}
