
//region Data structs

{{ range .Tables.Items }}
{{- $table := . }}
{{- $fields := index $.DTO.Fields .ID }}

// {{ fieldName $table.Name }} is DTO for {{ $table.Name }} table
type {{ fieldName $table.Name }} struct {
    {{- range $fields }}
    {{ .Name }} {{ .Type }}
    {{- end }}
}

func New{{ fieldName $table.Name }}(row Valuer) (dto {{ fieldName $table.Name }}, errs error) {
	var err error
	errc := NewErrorContainer()

    {{- range $fields }}
    if dto.{{ .Name }}, err = {{ .ConvertFn }}(ID.Table.{{ fieldName $table.Name }}.Cols.{{ .Name }}.ID, row); err != nil {
        errc.AddError(fmt.Errorf("field [%v] %v: %w", ID.Table.{{ fieldName $table.Name }}.Cols.{{ .Name }}.Name, ID.Table.{{ fieldName $table.Name }}.Cols.{{ .Name }}.ID, err))
    }
    {{- end }}

    if len(errc) > 0 {
        return {{ fieldName $table.Name }}{}, errc
    }

	return
}

{{- end }}

{{- range $.DTO.GetLookupFields }}
type {{ .LookupValuesType }} struct {
    Values []{{ .LookupRowRefType }}
}

// FirstRef returns a first referenced row metadata
func (l {{ .LookupValuesType }}) FirstRef() (first {{ .LookupRowRefType }}, found bool) {
	if len(l.Values) > 0 {
		return l.Values[0], true
	}

	return {{ .LookupRowRefType }}{}, false
}

// FirstRefName returns a first referenced row's Display Column value
func (l {{ .LookupValuesType }}) FirstRefName() string {
	if len(l.Values) > 0 {
		return l.Values[0].Name
	}

	return ""
}

// RefNames returns a slice of referenced rows' Display Columns values
func (l {{ .LookupValuesType }}) RefNames() (names []string) {
	for _, v := range l.Values {
		names = append(names, v.Name)
	}

	return
}

// String returns a comma-separated Display Columns of referenced rows.
// This representation is similar to what is shown in the browser.
func (l {{ .LookupValuesType }}) String() string {
	return strings.Join(l.RefNames(), ", ")
}

// First returns a pointer to a {{ .DTOType }} struct containing data of the first referenced row.
// It will return nil unless the lookup contains references and container of this {{ .LookupValuesType }} was preloaded by the LoadRelations<Original Table> method
func (l {{ .LookupValuesType }}) First() *{{ .DTOType }} {
	if len(l.Values) > 0 {
		return l.Values[0].Data
	}

	return nil
}

// FirstMaybe returns a {{ .DTOType }} struct containing data of the first referenced row.
// If the lookup doesn't contain any references or if reference data was not preloaded by the LoadRelations<Original Table> method it will return an empty structure with nil-values of it's fields
func (l {{ .LookupValuesType }}) FirstMaybe() {{ .DTOType }} {
	if len(l.Values) > 0 {
		return *l.Values[0].Data
	}

	return {{ .DTOType }}{}
}

// MustFirst returns a {{ .DTOType }} struct containing data of the first referenced row.
// It will panic if the lookup doesn't contain any references or if reference data was not preloaded by the LoadRelations<Original Table> method
func (l {{ .LookupValuesType }}) MustFirst() {{ .DTOType }} {
	if len(l.Values) > 0 && l.Values[0].Data != nil {
		return *l.Values[0].Data
	}

	panic("required {{ .DTOType }} value is not present in data row of {{ .LookupValuesType }}, table [{{ .TableName }}]")
}

// All returns all loaded data of the referenced rows if any
func (l {{ .LookupValuesType }}) All() (data []{{ .DTOType }}) {
	for _, i := range l.Values {
		if i.Data != nil {
			data = append(data, *i.Data)
		}
	}

	return
}

// Hydrate fills this lookup values with the corresponding rows from the map[RowID]{{ .DTOType }}
func (l *{{ .LookupValuesType }}) Hydrate(mapOf map[RowID]*{{ .DTOType }}) {
	for vi, v := range l.Values {
		if v.Data != nil {
			continue
		}
		if data, ok := mapOf[RowID(v.RowID)]; ok {
			l.Values[vi].Data = data
		}
	}
}


type {{ .LookupRowRefType }} struct {
    Name  string
    RowID string
    Data  *{{ .DTOType }}
}

func To{{ .LookupValuesType }}(colID string, row Valuer) (values {{ .LookupValuesType }}, err error) {
    rawv, ok := row.GetValue(colID)
    if !ok {
        return {{ .LookupValuesType }}{}, fmt.Errorf("missing column %v in {{ .TableName }} row", colID)
    }

    if strv, ok := rawv.(string); ok && strv == "" {
        return {{ .LookupValuesType }}{}, nil
    }

	if slicev, ok := rawv.([]interface{}); ok {
		for i, interv := range slicev {
			sv, err := toStructuredValue(interv)
			if err != nil {
				return {{ .LookupValuesType }}{}, fmt.Errorf("slice value #%v: %w", i, err)
			}
			values.Values = append(values.Values, {{ .LookupRowRefType }}{
				Name:  sv.Name,
				RowID: sv.RowId,
			})
		}

		return
	}

	sv, err := toStructuredValue(rawv)
	if err != nil {
		return {{ .LookupValuesType }}{}, err
	}

	values.Values = []{{ .LookupRowRefType }}{
	    {
            Name:  sv.Name,
            RowID: sv.RowId,
	    },
	}

	return
}

{{- end }}

//endregion